@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:after, &:before{
        box-sizing: border-box;
    }
}
html, body {
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: red;
}

button, input, textarea, select{
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

img, video,canvas,svg{
    max-width: 100%;
}

/************* variables .... *********/
$green-one: #01460f;
$green-two: #03811a;
$green-three: #03c026;
$green-four: #6cff8d;
$green-five: #6cff8f;